
.blox-round-image-news-ticker * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.blox-round-image-news-ticker{
	font-family: inherit;
	position:relative;
}
.blox-round-image-news-ticker svg {
    position: absolute;
    top: 0;
    z-index: 2;
	left:0;
}
.blox-round-image-news-ticker.flex-container {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-direction: normal;
   -moz-box-direction: normal;
   -webkit-box-orient: horizontal;
   -moz-box-orient: horizontal;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: nowrap;
   -ms-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-box-pack: justify;
   -moz-box-pack: justify;
   -webkit-justify-content: space-between;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-align-content: flex-start;
   -ms-flex-line-pack: start;
   align-content: flex-start;
   -webkit-box-align: center;
   -moz-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   
   position:relative;
}
.blox-round-image-news-ticker .bx-wrapper {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
}
.blox-round-image-news-ticker .blox-ticker-heading{
	background: transparent;
	padding:12px 17px;
	position:relative;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	white-space:nowrap;
	
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;

}

.blox-round-image-news-ticker .blox-ticker-heading .blox-date{
	font-size: 28px;
	line-height: 26px;
	font-weight: bold;
}
.blox-round-image-news-ticker .blox-ticker-heading .blox-month{
	font-weight: bold;
}
.blox-round-image-news-ticker .blox-ticker-content{
	padding:12px 50px 12px 35px;
	overflow:hidden;
	position:relative;
	
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}
.blox-round-image-news-ticker .blox-ticker-content .blox-ticker-box{
	color: #000000; 
	font-size: 14px; 
	line-height: 19px; 
	overflow:hidden;
}
.blox-round-image-news-ticker img{
	position: absolute;
    left: 0px;
    top: 0;
    z-index: 999;
	height:100%;
}
.blox-round-image-news-ticker .blox-ticker-content .blox-ticker-box a{
	color:#000;
	text-decoration:none;
}
.blox-round-image-news-ticker .blox-ticker-content .blox-ticker-box .blox-content-box{
	overflow:hidden;
}
.blox-round-image-news-ticker .blox-ticker-content .blox-ticker-box .blox-sub-title{
	color: #818181; 
	font-size: 12px; 
	font-style: italic; 
	line-height: 17px;
}
.blox-round-image-news-ticker .blox-ticker-content .blox-ticker-box img{
	position: relative;
    left: inherit;
    top: inherit;
	
	width:38px; 
	height:38px; 
	border-radius:50%; 
	float:left; 
	margin-right:15px; 
	display:block;
}
.blox-round-image-news-ticker .blox-ticker-content .blox-ticker-control{
	position:absolute;
	right:18px;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	z-index:999;
}

.blox-round-image-news-ticker .blox-ticker-content .blox-ticker-control .blox-ticker-nav a{
	color:inherit !important;
	font-size:12px;
}

.blox-round-image-news-ticker .blox-ticker-nav { float: right; margin: 0 4px;}
.blox-round-image-news-ticker .blox-ticker-nav + .blox-ticker-nav { float: left; margin: 0 4px;}

/*
   Legacy Firefox implementation treats all flex containers
   as inline-block elements.
*/

@-moz-document url-prefix() {
.flex-container {
   width: 100%;
   -moz-box-sizing: border-box;
   }

}


@media screen and (max-width: 639px) {
	.blox-round-image-news-ticker .blox-ticker-heading:after{ display:none;}
	.blox-round-image-news-ticker .blox-ticker-content{ padding-left:12px;}
}