.uc-elegant-video-teaser * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.uc-elegant-video-teaser .uc-elegant-video-teaser-inner{
	height:100vh;
	display:flex;
	align-items:center;
}
.uc-elegant-video-teaser .uc-elegant-video-teaser-inner .uc-banner {
	display: flex;
	text-align: center;
	width:100%;
}
.uc-elegant-video-teaser .uc-elegant-video-teaser-inner .uc-banner .uc-banner-content {
  	width: 100%;
}
.uc-elegant-video-teaser .uc-elegant-video-teaser-inner .uc-banner .uc-banner-content .uc-play-btn{
	width:90px;
	height:90px;
	display:block;
	line-height:90px;
	text-align:center;
	border-radius:50%;
	font-size:30px;
	margin:0 auto;
	box-shadow:0 2px 16px rgba(0, 0, 0, 0.30);
	-moz-box-shadow:0 2px 16px rgba(0, 0, 0, 0.30);
	-ms-box-shadow:0 2px 16px rgba(0, 0, 0, 0.30);
	-webkit-box-shadow:0 2px 16px rgba(0, 0, 0, 0.30);
}
.uc-elegant-video-teaser .uc-elegant-video-teaser-inner .uc-banner .uc-banner-content .uc-title{
	font-weight:400;
	font-size:125px;
	line-height:110px;
	margin:50px 0 85px;
}
.uc-elegant-video-teaser .uc-elegant-video-teaser-inner .uc-banner .uc-banner-content .uc-btn {
	border-radius: 30px;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: normal;
	padding: 20px 45px;
	text-decoration: none;
	text-transform: uppercase;
}

.uc-elegant-video-teaser .uc-elegant-video-teaser-inner .uc-banner .uc-banner-content .uc-play-btn{transition: all 1s ease-out;}
.uc-elegant-video-teaser .uc-elegant-video-teaser-inner .uc-banner .uc-banner-content .uc-play-btn:hover{ background:#ea1d63 !important; transition: all 1s ease-out;}
.uc-elegant-video-teaser .uc-elegant-video-teaser-inner .uc-banner .uc-banner-content .uc-play-btn:hover .fa{color:#fff !important;}



@media only screen and (max-width: 1200px) {
	.uc-elegant-video-teaser .uc-elegant-video-teaser-inner .uc-banner .uc-banner-content .uc-title{ font-size:100px;}
}
@media only screen and (max-width: 900px) {
	.uc-elegant-video-teaser .uc-elegant-video-teaser-inner .uc-banner .uc-banner-content .uc-title{ font-size:80px;}
}
@media only screen and (max-width: 767px) {
	.uc-elegant-video-teaser .uc-elegant-video-teaser-inner .uc-banner .uc-banner-content .uc-title{ font-size:62px;}
}
@media only screen and (max-width: 580px) {
	.uc-elegant-video-teaser .uc-elegant-video-teaser-inner .uc-banner .uc-banner-content .uc-title{ font-size:46px;}
	.uc-elegant-video-teaser .uc-elegant-video-teaser-inner .uc-banner .uc-banner-content .uc-title{ margin:20px 0;}
}
@media only screen and (max-width: 479px) {
	.uc-elegant-video-teaser .uc-elegant-video-teaser-inner .uc-banner .uc-banner-content .uc-title{ font-size:40px;}
}
@media only screen and (max-width: 410px) {
	.uc-elegant-video-teaser .uc-elegant-video-teaser-inner .uc-banner .uc-banner-content .uc-title{ font-size:30px;}
	.uc-elegant-video-teaser .uc-elegant-video-teaser-inner .uc-banner .uc-banner-content .uc-title{ margin:20px 0;}
}
















