

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
img{ width:100%; display:block;}


.uc_typograyphy_banner{ position:relative;font-family: 'Open Sans', sans-serif;overflow: hidden; color:#fff;}
.uc_typograyphy_banner .uc_banner-img {float: left; height: 100%; width:100%; }

.uc_typograyphy_banner .uc_banner-content { position:absolute; left:0; top:50%; width:100%; padding:0 45px; transform:translateY(-50%);}
.uc_typograyphy_banner .uc_banner-content .uc_top_content{ font-weight:400; font-size:16px; margin:0 0 28%;padding:0 17px 0 0; border-right:2px solid #fff; width:40%; text-align:right;}
.uc_typograyphy_banner .uc_banner-content .uc_top_content p{ margin:0px;}

.uc_typograyphy_banner .uc_banner-content .uc_bottom_content{text-align: right;}
.uc_typograyphy_banner .uc_banner-content h3{ font-weight:700; font-size:24px;text-transform:uppercase;line-height: 25px;margin: 0 0 20px;}
.uc_typograyphy_banner .uc_banner-content a{ font-weight:600; color:#fff; display:inline-block; font-size:16px;}
.uc_typograyphy_banner .uc_banner-content a .fa{ color:#ffc177; margin-left:5px;}

@media screen and (max-width: 1100px){
  .uc_typograyphy_banner .uc_banner-content .uc_top_content{margin: 0 0 18%;} 
}
@media screen and (max-width: 900px){
  .uc_typograyphy_banner .uc_banner-content .uc_top_content{margin: 0 0 15%;width: 54%;} 
}
@media screen and (max-width: 800px){
  .uc_typograyphy_banner .uc_banner-content .uc_top_content{margin: 0 0 15%;width: 68%;} 
  
}
@media screen and (max-width: 414px){
  
  .uc_typograyphy_banner .uc_banner-content{padding: 0 20px;}
  .uc_typograyphy_banner .uc_banner-content .uc_top_content{width: 100%;margin: 0 0 20px;}
  .uc_typograyphy_banner .uc_banner-content h3{margin: 0 0 5px;}
}