
/* Fun Fact */


.sp-animate-numbers {
	&.color-light {
		h1 {color:#fff;}
		p {color:#fff;}
	}
  	h1 {
  		font-size: 55px;
  		line-height: 90px;
  		letter-spacing: 7px;
  		margin-bottom: 0;
  	}
  	p {
  		font-size: 21px;
  		margin-bottom: 0;
  	}
}