/* ============================================================================= */
/* Quote widget. */
/* ============================================================================= */

.sp-quote-widget {
  .sp-signature {
    width          : 100%;
    font-size      : 30px;
    display        : block;
    margin-top     : 20px;
    font-family    : 'Shadows Into Light', cursive;
    font-style     : italic;
    letter-spacing : 2px;
    @include prefix(transform, rotate(-3deg), webkit);
  }

  .sp-quote {
    font-size : 19px;

    > p:first-of-type:before, > p:last-of-type:after {
      font-family : $icon-font-family;
      font-size   : 23px;
      display     : inline-block;
    }

    > p:first-of-type:before {
      content      : '\e80e';
      margin-right : 10px;
    }

    > p:last-of-type {
      margin-bottom : 0;

      &:after {
        content        : '\e80f';
        margin-left    : 10px;
        vertical-align : top;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .sp-quote { font-size : 16px; }

    .sp-quote > p:first-of-type:before, > p:last-of-type:after {
      font-size : 20px;
    }

    .sp-signature { font-size : 25px; }
  }
}