.blox-solid-icon-box * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.blox-solid-icon-box{
	font-family: inherit;
	padding:34px 31px 40px;
}

.blox-solid-icon-box .blox-solid-icon{
	color:#ffffff;
	font-size:48px;
	margin:0 0 25px 0;
	}
.blox-solid-icon-box .blox-solid-icon-box-heading{
	color:#ffffff;
	font-size:24px;
	line-height:33px;
	margin:0 0 14px 0;
	}
.blox-solid-icon-box .blox-solid-icon-box-content{
	font-size:15px;
	line-height:24px;
	color:#ffffff;
	}