.uc_simple_cta_line *{
	margin: 0;
	padding: 0;
}
.uc_simple_cta_line {
	padding: 50px 0;
	border-radius:5px;
	overflow:hidden;
	text-align:center;
}
.uc_simple_cta_line .uc_title {
	display: inline-block;
	margin: 0 0 15px;
	padding: 0 15px;
	max-width: 33%;
	box-sizing: border-box;
	font: 700 34px ;
	color: #fff;
	line-height: 1.4;
	vertical-align: top;
}
.uc_simple_cta_line .uc_content {
	display: inline-block;
	margin: 0 0 25px;
	padding: 0 15px;
	max-width: 48%;
	box-sizing: border-box;
	font: 400 15px ;
	color: #fff;
	line-height: 1.52;
	opacity: 0.7;
	vertical-align: top;
	text-align:left;
}
.uc_simple_cta_line .uc_button {
	display: inline-block;
	margin-left: 15px;
	padding: 10px 32px;
	max-width: 25%;
	border: 3px solid #fff;
	border-radius: 30px;
	box-sizing: border-box;
	font: 700 18px ;
	color: #fff;
	line-height: 1.5;
	white-space: nowrap;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	vertical-align: top;
	transition: all 0.5s ease-out;
}
.uc_simple_cta_line .uc_button:hover {
	background-color: #fff;
	color: #000000;
	transition: all 0.5s ease-out;
}
@media screen and (max-width: 767px) {
	.uc_simple_cta_line .uc_title, .uc_simple_cta_line .uc_content, .uc_simple_cta_line .uc_button {
		max-width: 100%;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.uc_simple_cta_line {
		padding: 50px 0;
	}
	.uc_simple_cta_line .uc_title, .uc_simple_cta_line .uc_content, .uc_simple_cta_line .uc_button {
		max-width: 100%;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.uc_simple_cta_line {
		padding: 50px 0;
	}
}
@media screen and (min-width: 1200px) {
	.uc_simple_cta_line {
		padding: 50px 0;
	}
}
@media screen and (max-width: 991px) {
	.uc_simple_cta_line .uc_content { text-align:center;}
}