.uc_travel-slider-mt * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.uc_travel-slider-mt {
	position:relative;
}
.uc_travel-slider-mt .uc_travel-slider-container{ 
	max-width: 100%; 
	display: flex; 
	height: 100vh;
	align-items: center;
}
.uc_travel-slider-mt .uc_travel-slider-container .uc-slide{
	position:absolute;
	left:0;
	top:0;
	width:100%;
}
.uc_travel-slider-mt .uc_travel-slider-container .uc-slide ul li{
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
}
.uc_travel-slider-mt .uc_travel-slider-container .flexslider .slides li { height:100vh;}
.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-image{ 
	width:100%;
}
.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content{ 
	display: flex;
	max-width:85%;
	margin: 0 auto;
	text-align:center;
	position:relative;
	z-index:999;
}
.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content strong{ 
	display:block; 
	font-size:125px; 
	line-height:normal;
	font-family: 'Playfair Display', serif;
	font-weight:400; 
	margin-bottom:20px;
	
}
.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content span{ 
	display:block; 
	font-size:36px; 
	line-height:50px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
	margin-bottom:65px;
}
.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content a.uc-btn{ 
	border-radius: 2px;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight:600;
    letter-spacing: 1px;
    line-height: 45px;
	padding:6px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	border:2px solid transparent;
	margin:0 14px;
	height: 60px;
    width: 250px;
	border-radius:30px;
}
.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content a.uc-btn:hover{
	background:#fff !important;
	color:#ea1d63 !important;
}

.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content a.uc-arrow2 {
    display: block;
    text-align: center;
	position:absolute;
	bottom:-100px;
	left:50%;
	margin-left:-12px;
	background:url(arrow.png) no-repeat 0 0;
	height:12px;
	width:24px;
}



.uc_travel-slider-mt .uc_travel-slider-container .uc-slide .flex-control-nav {
    width:100% !important;
	z-index:999 !important;
	text-align: center !important;
	bottom: 6%  !important;
}
.uc_travel-slider-mt .uc_travel-slider-container .uc-slide .flex-control-paging li a {
	background:rgba(255,255,255,0.5) !important;
	width:15px !important;
	height:15px !important;
	box-shadow:none !important;
}
.uc_travel-slider-mt .uc_travel-slider-container .uc-slide .flex-control-paging li a.flex-active {
    background: rgba(255, 255, 255, 1) !important;
}
.uc_travel-slider-mt .uc_travel-slider-container .uc-slide .flex-control-nav li {
    display: inline-block;
    margin: 10px 10px;
}
.uc_travel-slider-mt .uc_travel-slider-container .uc-slide .flex-direction-nav{ display:none;}
.uc_travel-slider-mt .uc_travel-slider-container .uc-slide .flexslider {
    background:none !important;
    border: 0px solid #ffffff !important;
    border-radius: 0px !important;
    margin: 0px !important;
    position: relative !important;
}

@media only screen and (max-width: 1160px) {
	.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content strong{ font-size:98px;}
}
@media only screen and (max-width: 1010px) {
	.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content strong{ font-size:74px;}
}
@media only screen and (max-width: 767px) {
	.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content strong{ font-size:50px; margin-bottom:0;}
	.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content a.uc-btn{ width: 180px; height:auto; padding:0;}
	.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content span{ margin-bottom:10px;}
	.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content a.uc-arrow2{ bottom:-35px;}
	.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content span { font-size: 20px;  line-height: normal; margin:20px 0;}
}
@media only screen and (max-width: 599px) {
	.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content strong{ font-size:36px; margin-bottom:0;}
	.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content a.uc-btn{ width: 140px; font-size:13px; margin:0 5px;}
	.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content span{font-size: 17px;}
	
}
@media only screen and (max-width: 385px) {
	.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content strong{ font-size:28px;}
	.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content a.uc-btn{ width: 75%;font-size: 15px; margin:0 0 10px;}
}
@media only screen and (max-width: 300px) {
	.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content strong{ font-size:24px;}
	.uc_travel-slider-mt .uc_travel-slider-container .uc_travel-slider-content a.uc-arrow2{ bottom:-20px;}
}


