.uc_expert_price_table * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.uc_expert_price_table .uc_content_box{
	border:1px solid #eeeeee;
	box-shadow:1px 1px 1px 0 #f4f4f4;
	border-radius:5px;
	padding:30px 20px;
	text-align:center;
	font-family: 'Lato', sans-serif;
}

.uc_expert_price_table h4{
	font-size:18px;
	font-weight:700;
	color:#444444;
	text-transform:uppercase;
	line-height:25px;
	margin:0 0 10px;
}

.uc_expert_price_table .uc_price_marker {
  	background-color: #3aafd6;
  	border-radius: 50%;
  	color: #ffffff;
  	display: table;
  	height: 100px;
  	margin: 25px auto;
  	width: 100px;
	font-size:32px;
	font-weight:400;
	display:table;
}

.uc_expert_price_table .uc_price_marker_content{
	display:table-cell;
	vertical-align:middle;
}

.uc_expert_price_table .uc_price_marker span{
	display:inline-block;
	vertical-align:super;
	font-size:16px;
	line-height:10px;
}

.uc_expert_price_table .uc_price_marker small{
	display:block;
	font-size:14px;
	line-height:14px;
}

.uc_expert_price_table .uc_price_detail ul{
	list-style:none;
	padding:0;
	margin:0;
}

.uc_expert_price_table .uc_price_detail ul li{
	display:block;
	font-weight:400;
	font-size:14px;
	line-height:20px;
	margin:0 0 20px;
	color:#444444;
}

.uc_expert_price_table a.uc_btn{
	text-decoration:none;
	text-transform:capitalize;
	display:inline-block;
	margin:15px 0 5px;
	border:1px solid #bfbfbf;
	color:#bfbfbf;
	border-radius:15px;
	font-size:14px;
	padding:4px 20px;
	line-height:21px;
	transition:background 0.3s ease-in-out 0s;
	-webkit-transition:background 0.3s ease-in-out 0s;
	-moz-transition:background 0.3s ease-in-out 0s;
	-ms-transition:background 0.3s ease-in-out 0s;
}

.uc_expert_price_table a.uc_btn:hover{
	border:1px solid #a8a8a8;
	color:#a8a8a8;
}