/* ============================================================================= */
/* Password protected post/page form. */
/* ============================================================================= */

.sp-password-post {
  position   : relative;
  text-align : center;

  form.password-protected {
    max-width : 350px;
    margin    : 0 auto;
  }

  label {
    width         : 100%;
    margin-bottom : 0;
  }

  .screen-reader-text { display : none; }

  input[name="post_password"] {
    width         : 100%;
    padding       : 6px 85px 6px 15px;
    border        : 1px solid #eee;
    border-radius : 30px;
    outline       : none;
    -webkit-transition    : border 0.25s linear;
    transition    : border 0.25s linear;

    &:focus {
      border     : 1px solid #ddd;
      -webkit-transition : border 0.25s linear;
      transition : border 0.25s linear;
    }
  }

  input[type="submit"] {
    position      : relative;
    float         : right;
    margin-top    : -42px;
    background    : $brand-primary;
    border        : none;
    padding       : 7px 25px;
    color         : #fff;
    border-radius : 30px;
    z-index       : 6;
    outline       : none;
    &:hover {
      cursor : pointer;
    }
  }
}